.sidebar{
	background-color: #fff;
	transition: all 0.3s ease;
	overflow: hidden;
	&.open{
		top: 0 !important;
	}
	.closer{
		justify-content: flex-end;
		border-bottom: 1px solid #ccc;
		.hamburger{
			padding: 0;
			.hamburger-box{
				width: 35px;
				height: 35px;
				.hamburger-inner{
					&, &::before, &::after{width: 23px}
					&::before{top: 0px}
					&::after{bottom: 0px}
				}
			}
		}
	}
	ul{
		li{
			list-style: none;
			padding: 15px;
			border-bottom: 1px solid #ccc;
			color: #5a8fcc;
			text-decoration: none;
			cursor: pointer;
		}
	}
}